/* Global setting for my site */
* {
    margin: 0;
    padding: 0;

    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box; 

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

     /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 14px;
}

body {
    font-family: "Arial", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
    color: #484B4E;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #ccc;
    height: 100%;

    /* Fixed width of the whole page */
    max-width: 960px;
}

main {
    /* line-height: 2; */
    /* font-size: 1.2rem; */
    background-color: #f1f1f1;
}

section {
    text-align: center;

    padding: 8rem 0;
    border-top: 1px dashed #ccc;
}

section > * {
    padding: 0 5%;
}

.shortline {
    width: 5%;
    height: 5px;
    background-color: #069;
    display: inline-block;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
}

footer p {
    padding: 2rem;
}

.pageheader nav a {
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
    padding-right: 0.3rem;
    font-size: 0.8rem;
}

.pageheader nav a:hover {
    font-size: 1rem;
    color: #069;
}

.pageheader {
    position: relative;
    height: 100%;

    /* Setup background image */
    background: url("https://i.loli.net/2019/05/26/5cea7718cc88519426.jpg") no-repeat center/cover;

    padding: 1rem;

    /* border-bottom: 1px dashed #ccc; */
}

/* use different font for logo and slogon */
.pageheader [class*="logo"] {
    font-family: "Merriweather";
}

.logo {
    font-size: 1.2rem;
    color: #069;
}

.slogon {
    top: 67%;
}

.pageheader > div {
    position: absolute;
    left: 5%;
}

.withus {
    font-size: 1.5rem;
}

.keyword {
    font-size: 5rem;
    color: #069;
}

.belief {
    font-family: "Merriweather";
    font-variant: small-caps;

    background-color: #069;
    color: #fff;

    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.belief > span {
    font-size: 5rem;
}

[class|=col] {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.icon {
    font-size: 5rem;
}

.card {
    margin-top: 5rem;
    padding: 0 1rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.card-head {
    line-height: 3rem;
}

.card-head > p:first-of-type{
    font-weight: bold;
    font-size: 1.2rem;
}

.contact {
    font-weight: bold;
    background: #2f3f5f;
    color: #fff;
    
    /* disable the border */
    border: 0;

}

.name {
    font-weight: bold;
    color: #069;
}

.intro {
    margin-top: 7rem;
}

.qrcode {
    width: 40%;
}


/* For large screen size */
@media screen and (min-width:600px) {
    html, body {
        font-size: 16px;
    }

    .pageheader {
        background: url("https://i.loli.net/2019/05/26/5cea7718eb35790679.jpg") no-repeat center/cover;
    }

    .col-3 {
        width: 33.33%;
    }

    .col-2 {
        width: 50%;
    }

    .slogon {
        top: 71%;
    }
}

